3_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="documentos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="libros">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="libro" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string"/>
                                                    <xs:element name="indice">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="capitulo" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="titulo" type="xs:string"/>
                                                                            <xs:element name="contenido">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="enlace_info" type="xs:anyURI" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="num_paginas" type="xs:integer" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute name="enlace_indice" type="xs:anyURI" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="sinopsis" type="xs:string"/>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:string" use="required"/>
                                                <xs:attribute name="tipo_clase" use="required">
                                                    <xs:simpleType>
                                                        <xs:restriction base="xs:string">
                                                            <xs:enumeration value="novela"/>
                                                            <xs:enumeration value="infantil"/>
                                                            <xs:enumeration value="didactico"/>
                                                        </xs:restriction>
                                                    </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="num_paginas" type="xs:integer" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="revistas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="revista" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string"/>
                                                    <xs:element name="numero_revista" type="xs:string"/>
                                                    <xs:element name="indice">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="seccion" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="contenido">
                                                                                <xs:complexType>
                                                                                    <xs:attribute name="enlace_info" type="xs:anyURI" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="tipo_seccion" type="xs:string" use="required"/>
                                                                            <xs:attribute name="numero_paginas" type="xs:integer" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:string" use="required"/>
                                                <xs:attribute name="tipo_clase" type="xs:string" use="required"/>
                                                <xs:attribute name="num_paginas" type="xs:integer" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="periodicos">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="periodico" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="titulo" type="xs:string"/>
                                                    <xs:element name="indice">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="seccion" maxOccurs="unbounded">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="articulo">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="contenido">
                                                                                            <xs:complexType>
                                                                                                <xs:attribute name="enlace_info" type="xs:anyURI" use="required"/>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute name="autor" type="xs:string" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                        <xs:attribute name="tipo_seccion" type="xs:string" use="required"/>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:string" use="required"/>
                                                <xs:attribute name="tipo_clase" type="xs:string" use="required"/>
                                                <xs:attribute name="fecha_publicacion" type="xs:date" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
